version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: barbershop-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: barbershop_db
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
  app:
    build:
      context: ./Back-end
      dockerfile: Dockerfile
    container_name: barbershop-app
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/barbershop_db
      SPRING_DATASOURCE_USERNAME: root